<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Contact-page{% endblock %}</title>
</head>
<body>
    <header>
        <h1></h1>
        <nav>
            <a href="/">Home</a>
            <a href="/contact/">Contact</a>
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- Content from child templates will go here -->
        {% endblock %}
    </main>

    <footer>
        <p>© 2025 My Website</p>
    </footer>
</body>
</html>
